ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #1b24a1;
  border-radius: 0.5rem;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
  text-decoration: none;
}

li a:hover {
  background-color: #4482ce;
}

.activo {
  background-color: #020205;
}

.derecha {
  float: right;
}

.mititulo {
  margin-top: 0.2rem;
  padding: 32px 16px;
  background-color: #dab928;
  border-radius: 0.5rem;
  text-align: center;
}