ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #8a8d91;
    border-radius: 0.5 rem;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: white;
    display: block;
    padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0c4891;
  }

  .activo {
    background-color: #03040c;
  }

  .derecha {
    float: right;
  }

  .mititulo {
    margin-top: 0.5rem;
    padding: 32px 16px;
    background-color: #a6a6a7;
    border-radius: 0.5rem;
    text-align: center;
  }