.nav{
  background-color: #8a8d91;
  border-radius: 0.5rem;
  padding: 1%;
}

  .mititulo {
    margin-top: 1rem;
    padding: 32px 16px;
    background-color: #a6a6a7;
    border-radius: 0.5rem;
    text-align: center;
  }